.custom-heading {
    color: white;
    padding: 200px; 
    font-size: 3rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.login{
    background-image: url(../../assets/background.png);
}